<div>
    <div>
        Total events: {{main.total}}
    </div>
    <div>
        Filtered events: {{main.filtered}}
    </div>
</div>
<div>
    <a ng-click="main.sendRandomFilter()" class="btn btn-default">Send random</a>
</div>